body {
    font-family: 'Roboto';
    background: url('../../../assets/irisgps/img-web/fondo.jpg')no-repeat center;
    background-size: cover;
}
body, html {
    height: 100%;
    width: 100%;
    display: table;
}

footer
{
    width: 100%;
    margin-top: 42px;
    position: relative;
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 50px;
    color: black;
    background: white;
    overflow: hidden;
}

footer p{
    margin-bottom: 0;
    float: left;
}
.fa-btn {
    margin-right: 6px;
}

.navbar {
    margin-bottom: 0px;
}

.page-header {
    font-size: 35px;
    color: #009486;
    padding-bottom: 9px;
    margin: 20px 0px 30px;
    border-bottom: 1px solid #EEE;
}
.page-header img{
    margin-right: 10px; 
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-30 {
    margin-right: 30px;
}

.margin-bottom-40 {
    margin-right: 40px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}
.margin-right-15{
    margin-right: 15px;
}

.tselect{
    font-size: 20px;
    color: silver;
}
/*.margin-top-40 {
    margin-top: 40px;
}*/

.btn-default {
    color: #444444;
    background-color: #f0f0f0 !important;
    border-color: transparent;
}
.btn-default:hover, .btn-default:active:hover {
    background-color: #d4d4d4 !important;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.web-container {
    min-height: 550px;
}

#map {
    width: 100%;
    min-height: 400px;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0px;
}

#map-dashboard {
    width: 100%;
    height: 90%;
    background-color: #FFCDD2;
    margin: 0px;
    padding: 0px;
}

#map-new-marker {
    width: 100%;
    min-height: 400px;
}

.description-row label,
.description-row p {
    display:inline;
}

.description-row label {
    font-weight: bold;
}

.float-btn {
    text-transform: uppercase;
    border: medium none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease 0s;
}

.float-btn {
    display: inline-block;
    font-weight: normal;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 4px 10px;
    line-height: 1.846;
    -moz-user-select: none;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    font-size: 30px;
}

.float-btn > i {
    vertical-align: text-top;
}

.label-task-scheduled {
    background-color: #6F5499;
}

.label-task-done {
    background-color: #1976D2;
}

.label-task-rescheduling-request {
    background-color: #FFAB00 ;
}

.label-task-cancelled {
    background-color: #FF1103;
}

/*-- calendario ----*/
.one_line{
        white-space:nowrap;
        overflow:hidden;
        padding-top:5px; padding-left:5px;
        text-align:left !important;
    }
        #my_form, #my_form2, #my_form3 {
            position: absolute;
            width: 40%;
            height: 250px;
            top: 100px;
            left: 200px;
            overflow-y: scroll;
            z-index: 10001;
            display: none;
            background-color: white;
            border: 2px outset gray;
            padding: 40px;
            font-size: 10pt;
        }
        
        #my_form label {
            width: 200px;
        }
        #my_form2 label {
            width: 100px;
            text-transform: uppercase;
        }
        .close{
            width: 34px;
            position: relative;
            float: right !important;
            top: -35px;
            right: -35px;
            cursor: pointer;
        }


/* end calendario */


/*navbar*/

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #FFAA90 !important;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>.active{
    color: #FFAA90 !important;
}
.logo-sg{
    width: 180px;
    margin-top: -10px;
}
.navbar-nav>li>a .signup{
    color: #FFAA90;  
}
.navbar-nav>li>a {
    color: white;
    font-size: 14px;
}
.navbar-nav>li{
    -webkit-transition: color 2s; /* For Safari 3.1 to 6.0 */
    transition: color 2s;
}

.nav>li>a:hover, .nav>li>a:focus {
    color: #FFAA90;
    background-color: transparent !important; 
}
.landing-tit{
    color: #ffc107;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    font-size: 35px;
}
.desc{
    margin-top: 80px;
}
.desc p{
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: Roboto;
    font-weight: bold;
}
.desc ul{
    color: black;
    font-weight: bold;
    list-style-image: url('/assets/irisgps/img-web/check.png');
    width: 390px;
    margin: 0 auto;
    margin-top: 30px;
}
.login-panel{
    margin-top: 100px;
    padding-top: 15px;
    padding-left: 25px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    border: 0;
}
.login-register{
    margin-top: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0;
    border: 0;
}
.tlogin{
    color: #009486;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
}
.btn-sgtask{
    text-transform: uppercase;
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #ffffff;
    background-color: #009486 ;
    border-color: transparent;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-sgtask:hover {
    color: #ffffff;
    background-color: #026F65;
    border-color: rgba(0,0,0,0);
}
.l16{
    color: #161616
}
.btn-primary {
    color: #ffffff;
    background-color: #009486 !important;
    border-color: transparent;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #026F65 !important;
    border-color: rgba(0,0,0,0);
}
.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #009486 !important;
    border-color: rgba(0,0,0,0);
}
.btn-primary:active {
    background-color: #009486;
    background-image: -webkit-radial-gradient(circle, #009486 10%, #00B5A4  11%);
    background-image: -o-radial-gradient(circle, #009486 10%, #00B5A4  11%);
    background-image: radial-gradient(circle, #009486 10%, #00B5A4  11%);
    background-repeat: no-repeat;
    -webkit-background-size: 1000% 1000%;
    background-size: 1000%;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}
.card-box{
        position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.padding-30{
    padding: 30px;
}

/**/

.suggestion{
    width: 30px;
    height: 110px;
    background: #ff5722;
    position: fixed;
    z-index: 10;
    right: 0;
    top: 30%;
    border-left: 3px solid #ffc107;
    border-top: 3px solid #ffc107;
    border-bottom: 3px solid #ffc107;
    border-radius: 10px 0px 0px 10px;
}
.suggestion:hover{
    background: #EB4B19;
    cursor: pointer;
}
.suggestion img{
    margin-top: -3px;
}

/**/

.box_suggestion{
    display: none;
    width: 320px;
    height: 280px;
    position: fixed;
    z-index: 10;
    bottom: 0;
    right: 0;
    background: white;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.box_suggestion .head{
    background: #009486;
}
.box_suggestion .head p{
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}
.box_suggestion .head p label{
    color: #ffbe55;
    font-family: 'Roboto';
    font-weight: bold;
}
.box_suggestion .body{
    width: 80%;
    margin: 0 auto;
    height: 160px;
}
.box_suggestion textarea{
    padding-top: 70px;
    resize:none;
}
.box_suggestion .footer{
    width: 80%;
    margin: 0 auto;
}

.margin-r-15{
    margin-right: 15px;
}
#success-message{
    display: none;
    text-align: center;
    font-size: 18px;
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;
}
.play{
    position: fixed;
    bottom: 80;
}
.desc a:hover{
    text-decoration: none;
}
.desc .box-free:hover{
    background: rgba(3, 115, 93, 0.6);
}
.box-free{
    width: 370px;
    background: rgba(0, 138, 111, 0.6);
    padding: 5px 30px 5px 30px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
}
.box-free h2{
    font-size: 30px;
    margin: 0;
    color: #ffc107;
}
.box-free h3{
    font-size: 18px;
    margin: 0;
    color: white;
}
@media only screen and (max-width: 768px)  {
    .desc {
        margin-top: 10px;
        padding-left: 100px;
    }
    .landing-tit{
        font-size: 25px;
    }
}
@media only screen and (max-width: 750px)  {
    .desc p {
        color: #424242;
    }
    .login-panel {
        margin-top: 45px;
    }
}
@media only screen and (max-width: 565px)  {
    .play {
        position: fixed;
        bottom: 100px;
        width: 150px;
    }
    footer p {
        margin-bottom: 0;
        float: none !important;
        text-align: center !important; 
    }
}
@media only screen and (max-width: 565px)  {
    .box-free {
        width: 280px;
    }
    .box-free h2{
        font-size: 22px;
    }
    .box-free h3 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 475px)  {
    .desc {
        margin-top: 10px;
        padding-left: 20px;
    }
    .desc ul{
        width: 250px;
    }
}
@media only screen and (max-width: 425px)  {
    .play {
        position: fixed;
        bottom: 100px;
        right: 40px;
        width: 150px;
    }

}
@media only screen and (max-width: 370px)  {
    .play {
        right: 40px;
        width: 150px;
    }
}